/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul li:hover {
    background-color: #f1f1f1;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}

footer p {
    margin: 0;
}
